.chartBar {
  background-color: rgba(44, 62, 56, 0.986);
  min-width: 0;
  margin: 0 1px;
  text-align: center;
  flex: 1;
}

.value {
  display: none;
  color: white;
}

.chartBar:hover .value {
  display: initial;
  background-color: orange;
}
